<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Externo.AccesoDatos.Properties.Settings.sietemar_PruebasConnectionString"
            connectionString="Data Source=sietemariaslogistica.com;Initial Catalog=sietemar_Pruebas;User ID=siete_pruebasbaxter;Password=pruebas@2015"
            providerName="System.Data.SqlClient" />
        <add name="Externo.AccesoDatos.Properties.Settings.DataSourceConnectionString1"
            connectionString="Data Source=sietemariaslogistica.com;Initial Catalog=sietemar_Pruebas;User ID=siete_pruebasbaxter;Password=pruebas@2015"
            providerName="System.Data.SqlClient" />
        <add name="Externo.AccesoDatos.Properties.Settings.DataSourceConnectionString"
            connectionString="Data Source=sietemariaslogistica.com;Initial Catalog=sietemar_Pruebas;User ID=siete_pruebasbaxter;Password=pruebas@2015"
            providerName="System.Data.SqlClient" />
        <add name="Externo.AccesoDatos.Properties.Settings.sietemar_PruebasConnectionString1"
            connectionString="Data Source=sietemariaslogistica.com;Initial Catalog=sietemar_Pruebas;User ID=siete_pruebasbaxter;Password=pruebas@2015"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>